$dark-blue:  #053B55;
$light-blue: #216685;
$body-bg-color: #053B55;
$light-red: #DF2E1D;
$red: #7A1913;
$yellow: #D2BA32;
$orange: #EE7600;
$footer-blue: #01253D;
$green: #31AF91;
$footer-green: #008069;
$footer-green: #327856;
$green: #91CF8E;
