/* Futurama fonts */
@font-face {
  font-family: 'fr-title';
  src: url('/fonts/fr-title.ttf');
}

@font-face {
  font-family: 'fr-bold';
  src: url('/fonts/fr-bold.ttf');
}

@font-face {
  font-family: 'fr-fal1';
  src: url('/fonts/fr-fal1.ttf');
}

@font-face {
  font-family: 'fr-fal2';
  src: url('/fonts/fr-fal2.ttf');
}

/* Colors */
$dark-blue:  #053B55;
$light-blue: #216685;

body {
  color: $light-blue;
  background: $dark-blue;
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.title {
  border: 1px solid black;
  font-size: 52px;
  text-align: center;
  font-family: fr-bold, sans-serif;

  > div {
    position: absolute;
    width: 100%;
    background-image: -webkit-linear-gradient(bottom, #df2e1d 25%, #7A1913);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:after {
    text-shadow: 15px 4px #D2BA32;
    color: transparent;
    content: attr(title);
  }
}

.footer {
  border: 1px solid red;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 55px;

  .footer-left {
    float: left;
    border: 1px dashed red;
    margin-top: 3px; // Due to logo
  }

  .footer-right {
    float: right;
    border: 1px dashed red;
  }

  .planet-express-logo {
    vertical-align: middle;
  }
}

.oval-quote {
  position: relative;
  border: 1px solid red;
  color: $light-blue;
  width: 500px;
  padding: 50px 40px;
  margin: auto;
  text-align: center;
  background: $dark-blue;
  -webkit-border-radius: 220px 120px;
  -moz-border-radius: 220px / 120px;
  border-radius: 220px / 120px;

  > p {
    font-size: 1.25em;
  }

  // creates the larger circle
  &:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 500px;
    width: 30px;
    height: 30px;
    background: black;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
  }

  // creates the smaller circle
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 530px;
    width: 15px;
    height: 15px;
    background: black;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
  }
}

.character-container {
  border: 1px solid red;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50%;
  width: 50%;
  text-align: center;
  margin-bottom: 55px;

  .character {
    border: 1px solid red;
    height: 100%;
    position: relative;
    margin-left: 55px;
  }
}
