/* Futurama fonts */
@font-face {
  font-family: 'fr-title';
  src: url('/fonts/fr-title.ttf');
}

@font-face {
  font-family: 'fr-bold';
  src: url('/fonts/fr-bold.ttf');
}

@font-face {
  font-family: 'fr-fal1';
  src: url('/fonts/fr-fal1.ttf');
}

@font-face {
  font-family: 'fr-fal2';
  src: url('/fonts/fr-fal2.ttf');
}

/* Colors */
$dark-blue:  #053B55;
$light-blue: #216685;
$body-bg-color: #053B55;
$bubble-bg-color: #01253D;
$footer-bg-color: #01253D;

/* Sizes */
$header-height: 100px;
$footer-height: 55px;
$footer-logo-height: 50px;

body {
  color: $light-blue;
  background: $dark-blue;
}

.header {
  // border: 1px solid blue;
  position: relative;
  height: 100px;
}

.title {
  font-size: 52px;
  text-align: center;
  font-family: fr-bold, sans-serif;
  margin-top: 0.33em;

  > div {
    position: absolute;
    width: 100%;
    background-image: -webkit-linear-gradient(bottom, #df2e1d 25%, #7A1913);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &:after {
    text-shadow: 6px 4px #D2BA32;
    color: transparent;
    content: attr(title);
  }
}

.content {
  position: relative;
  height: calc(100vh - #{$header-height} - #{$footer-height} - 15px);
}

.oval-quote {
  font-family: fr-bold, sans-serif;
  background: $bubble-bg-color;
  position: relative;
  color: $light-blue;
  width: 500px;
  padding: 50px 40px;
  margin: auto;
  text-align: center;
  -webkit-border-radius: 220px 120px;
  -moz-border-radius: 220px / 120px;
  border-radius: 220px / 120px;
  box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.5);

  > p {
    font-size: 1.25em;
  }

  // creates the larger circle
  &:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 500px;
    width: 30px;
    height: 30px;
    background-color: $bubble-bg-color;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.5);
  }

  // creates the smaller circle
  &:after {
    content: "";
    position: absolute;
    bottom: -30px;
    left: 530px;
    width: 15px;
    height: 15px;
    background: $bubble-bg-color;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.5);
  }
}

.character-container {
  // border: 1px solid red;
  position: absolute;
  height: 50%;
  width: 50%;
  bottom: 0;
  right: 0;
  text-align: center;

  .character {
    // border: 1px solid red;
    height: 100%;
    position: relative;
  }
}

.heads-menu {
  position: absolute;
  top: 75px;
  left: 0;
  z-index: 2;
  width: 95px;

  .head-button {
    background: Transparent no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 100%;
  }

  .head-button:hover {
    transform: scale(1.5);
  }

  .head-icon {
    height: 65px;
    padding: 5px;
  }

}

.footer {
  width: 100%;
  height: $footer-height;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #01253D;
  // box-shadow: 0 -5px 6px rgba(0,0,0,0.5);
  border-top: solid darken($footer-bg-color, 3) 2px;

  .footer-left {
    float: left;
  }

  .planet-express-logo {
    margin-top: 2px;
    vertical-align: middle;
    height: $footer-logo-height;
  }

  .provided {
    font-family: fr-bold, sans-serif;
    position: absolute;
    bottom: 18px;
    font-size: 12px;
  }

  .city-bg {
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: calc(#{$footer-height + 2px});
    background: url('../img/city.png') repeat-x;
    background-size: contain;
    z-index: -1;
    opacity: 0.3;
  }
}
