@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

/* Futurama fonts */
@font-face {
  font-family: 'fr-title';
  src: url('/fonts/fr-title.ttf');
}

@font-face {
  font-family: 'fr-bold';
  src: url('/fonts/fr-bold.ttf');
}

@font-face {
  font-family: 'fr-fal1';
  src: url('/fonts/fr-fal1.ttf');
}

@font-face {
  font-family: 'fr-fal2';
  src: url('/fonts/fr-fal2.ttf');
}

/* Colors */
$dark-blue:  #053B55;
$light-blue: #216685;
$body-bg-color: #053B55;
$bubble-bg-color: #01253D;
$footer-bg-color: #01253D;

/* Sizes */
$footer-height: 55px;
$footer-logo-height: 50px;

html {
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  background: #fff;
  font-weight: 300;
  font-size: 15px;
  color: #333;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #555;
  text-decoration: none;
}

.container {
  width: 100%;
  position: relative;
}

.container.fq {
  height: 100%;
  position: absolute;
}

.container > header,
.content-wrapper {
  padding: 30px;
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

.content-wrapper p{
  padding-top: 30px;
  line-height: 26px;
}

.container > header h1 {
  font-size: 34px;
  line-height: 38px;
  margin: 0;
  font-weight: 700;
  color: #333;
  float: left;
}

.container > header h1 span {
  display: block;
  font-size: 20px;
  font-weight: 300;
}

.footer {
  width: 100%;
  height: $footer-height;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #01253D;
  border-top: solid darken($footer-bg-color, 3) 2px;

  .footer-left {
    float: left;
  }

  .planet-express-logo {
    margin-top: 2px;
    vertical-align: middle;
    height: $footer-logo-height;
  }

  .provided {
    font-family: fr-bold, sans-serif;
    position: absolute;
    bottom: 18px;
    font-size: 12px;
  }

  .city-bg {
    position: absolute;
    height: 200px;
    width: 100%;
    bottom: calc(#{$footer-height + 2px});
    background: url('/img/city.png') repeat-x;
    background-size: contain;
    z-index: -1;
    opacity: 0.3;
  }
}
